body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.head{
    color: blue;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 3%;
}
.half-width img{
    width: 84%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(212, 99, 169), rgb(105, 105, 185));
    color: white;
    font-weight: 800;
    padding: 10px 30px;
    border-radius: 5px;
}